<html>
    <head>
        <title>Scale, Crop and Resize in Nodejs using Sharp</title>
        <meta charset="utf-8">
        <base href="/">
        <!-- Adding CSS files-->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/style.css"> 
    </head>
    <!-- Defining angular controller -->
    <body>
        <header class="app-header">
            <h2>Change Image extension in Nodejs using Sharp</h2>
        </header>
        <div class="main">
            <div class="left">
                <h4>Original Image</h4>
                <img class="original-image" src="/img/Jellyfish.jpg">
            </div>
            <div class="right">
                <div class="mesure">
                    <button class="btn btn-default" onclick="changeExtension()">Convert JPG to PNG</button>
                </div>   
                <div class="result">
                    <img id="result-image">
                </div>             
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/js/change-ext.js"></script>
</html>
